*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sfondo {
    height: 1000px;
    width: 1000px;
    position: relative;
    background-image: url('../img/sm-bg.gif');
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: repeat-x;
    -webkit-animation: slide 20s linear infinite;
	animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
 
@keyframes slide {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.mario img {
    height: 35px;
}
.mario {
    position: absolute;
    bottom: 10%;
    left: 50px;
}

.mario:active {
    animation: jump 2s ease-out;
}

@keyframes jump {
    0% {left: 50px; bottom: 10%;}
    50% {left: 50px; bottom: 20%;}
}